<% if (items.length > 0) { %>
<div class="delete-check-page">
  <p>Cannot delete a category that has items</p>
  <div class="button-container">
    <a href="/<%= category.url %>">Back to <%= category.name %></a>
    <a href="/categories">Back to Categories</a>
  </div>
</div>
<% } else { %>
<form
  class="form category-form"
  action="/<%= category.url %>/remove"
  method="post"
>
  <p>Are you sure you want to delete the <%= category.name %> category?</p>
  <div class="button-container">
    <button class="remove" type="submit">Yes</button>
    <a href="/<%= category.url %>"><p>No</p></a>
  </div>
</form>
<% } %>
