<div class="items-page">
  <div class="items-header">
    <h2 class="title"><%= title %></h2>
    <a href="items/new">
      <p>+ add category</p>
    </a>
  </div>
  <div class="sub-header">
    <p></p>
    <a href="items/new">
      <p>+ add category</p>
    </a>
  </div>
  <div class="items-container">
    <ul class="items-list">
      <% items.forEach((item) => { %>
      <li class="item">
        <a href="/<%= item.url %>"> <h3><%= item.name %></h3> </a>
        <p>Price: <%= item.price %></p>
        <p>Quantity: <%= item.quantity %></p>
      </li>
      <% }); %>
    </ul>
  </div>
</div>
